# EDA (Exploratory Data Analysis)

In [ ]:
# Def: EDA to an approach to analyze datasets to summarize its important properties.
# Here important properties means e.g. understanding the distribution of data,identify the patterns,detect Null/NaN values,detect outliers.

# Major EDA operations

In [ ]:
# EDA-1 : Understanding the Dataset
# EDA-2 : Indexing & Slicing & Filtering
# EDA-3 : Statistical Analysis of dataset
# EDA-4 : Identify Null/NaN values to dataset
# EDA-5 : Identify Duplicates values
# EDA-6 : Identify Outliers

# Data Cleaning

In [ ]:
# Major Data Cleaning(DC) Operations:

# DC-1 : Fixing the data inconsistency
# DC-2 : Handling the Null/NaN values
# DC-3 : Handling the Duplicate values
# DC-4 : Handling of Outliers

# Mini project on EDA

In [ ]:
# Dataset name: Census income dataset

import os
os.getcwd()

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("adult.data")
df

In [ ]:
df.columns

In [ ]:
cols=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']

In [ ]:
len(cols)

In [ ]:
df=pd.read_csv("adult.data",names=cols)
df

# EDA-1 : Understanding the Dataset

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample()

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.select_dtypes(include='int64').columns

In [ ]:
df.select_dtypes(include='object').columns

In [ ]:
df.describe()

In [ ]:
df.describe(include='object')

In [ ]:
df.education.unique()

In [ ]:
df['marital-status'].unique()

In [ ]:
df.education.unique()

In [ ]:
df.workclass.unique()

# EDA-1 : Understanding the Dataset

In [ ]:
df['workclass']=df.workclass.str.strip()

In [ ]:
df['workclass'].unique()

In [ ]:
df['workclass']=df.workclass.replace('?',np.nan)

In [ ]:
df['workclass'].unique()

# EDA-2 : Indexing & Slicing & Filtering

In [ ]:
df.columns

In [ ]:
# Query :print 1 to 6 record and 'age' to 'education'
df.loc[1:6,"age":"education"]

In [ ]:
df.iloc[1:7,0:4]

In [ ]:
df.loc[1:6,["age",'occupation','native-country']]

In [ ]:
df.iloc[1:7,[0,6,1]]

# Filtering

In [ ]:
# Query: Print the record swith age<20
df[df.age<20]

In [ ]:
# Query: Print the records where age < 20 or age >70
df[(df.age<20) | (df.age>70)]

In [ ]:
# Query: Print only age column based upon above condition "df[(df.age<20) | (df.age>70)]"
df[(df.age<20) | (df.age>70)].age

In [ ]:
df[(df.age<20) | (df.age>70)][["age","education"]]

In [ ]:
# where(): Print records if age>25
df.where(df.age>25)

In [ ]:
# countplot : income distribution for below 25 age
df.income.unique()

In [ ]:
sns.countplot(data=df[df.age<25]['income'])

In [ ]:
sns.countplot(data=df[df.age<25]['marital-status'])

In [ ]:
df.sort_values('age',ascending=True)

In [ ]:
df.sort_values('age',ascending=False)

In [ ]:
# Query: Print 5 people record with maximum age

df.nlargest(5,'age')

In [ ]:

# Question :
df.nlargest(2,'age') # based upon index it will select first 2 peoples

In [ ]:
# Query: Find the smallest age 5 people
df.nsmallest(5,'age')

# EDA-3 : Statistical analysis of dataset

In [ ]:
df.columns

In [ ]:
# Query: Sum the totalnumber of working hours
print(df['hours-per-week'].sum())

In [ ]:
# Query: Avereage the totalnumber of working hours
print(df['hours-per-week'].mean())

In [ ]:
# Query: Median of working hours
print(df['hours-per-week'].median())

In [ ]:
# Query: Minimum of working hours
print(df['hours-per-week'].min())

In [ ]:
# Query: Maximum of working hours
print(df['hours-per-week'].max())

In [ ]:
# mode() function : return the subclass with highest frequency in categorical data

df['marital-status'].mode()

In [ ]:
# std() function : how much far away data is from the mean

df.age.std()

In [ ]:
# cov() : find how two variables vary together (covariance-cov())
 
df[['age','hours-per-week']].cov()

# range: - infinite to +infinite

In [ ]:
# corr()
df[['age','hours-per-week']].corr()

# range: -1 to +1

In [ ]:
sns.scatterplot(x='age',y='hours-per-week',data=df)

In [ ]:
# corr() : relationship between variables
# Type of correlation: Pearson,spearman
# Pearson correlation : Lineaar relationship,normally distributed
# Spearman correlation : Non-linear monotonic relationship, not normally distributed
coor_mat=df[['age','hours-per-week']].corr()

# range: -1 to +1 
sns.heatmap(coor_mat,annot=True,cmap='coolwarm',fmt=".2f")

In [ ]:
# corr()
coor_mat=df[['age','hours-per-week']].corr()

# range: -1 to +1 
sns.heatmap(coor_mat,annot=True,fmt=".2f") # without color

In [ ]:
coor_mat=df[['age','hours-per-week']].corr(method='pearson')

# range: -1 to +1 
sns.heatmap(coor_mat,annot=True,cmap='coolwarm',fmt=".2f")

In [ ]:
coor_mat=df[['age','hours-per-week']].corr(method='spearman')

# range: -1 to +1 
sns.heatmap(coor_mat,annot=True,cmap='coolwarm',fmt=".2f")

# EDA-4 : Identify Null/NaN values to dataset

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

# Data Cleaning-2: Handling of Null Values

In [ ]:
# Approaches to handle the Null/NaN values

# Approach-1: Delete the record or column which is having the Null values
        # 1.1 When number of null values are very less as compare to dataset size
        # 1.2 If number of null values in a column>70% & column is not impacting your final analysis.

# Approach-2: Fill the Constant value in place of Null 

# Approach-3: Fill the Mean/Median/Mode values in place of Null value

# Interview Question: When to use Mean or Median or Mode to replace Null value?
# When to use mean:
    # 1. Data must be Numerical
    # 2. When the data is Normally distributed 
    # 3. When we Don't have the outliers
# when to use median:
    # When data having the Outlier
    # When data is NOT normally distributed
# when to use Mode:
    # 1.When we have the Categorical data or Discrete data(repeated) with frequency

# Approach-4: bfill() & ffill() function

# Approach-5: Interpolate() function

# Approach-6: Supervised ML model

# Approach-1: Delete the record or column which is having the Null values

In [ ]:
df.isna().sum() # we can use to find the null values using isnull() or isna()

In [ ]:
df.shape

In [ ]:
# Delete the Records with Null value
df1=df.copy()

df1.dropna(inplace=True) # to delete the null values using dropna() function 
df1.shape

In [ ]:
# delete the column with Null value

df2=df.copy()

df2.isnull().sum()

In [ ]:
df2=df.copy()

df2.dropna(axis=1,inplace=True) # When we have to access the column set axis=1

df2.shape

In [ ]:
df2.columns

In [ ]:
# Query: Delete the column when null value percentage>70

df3=df.copy()

null_values=df3.workclass.isnull().sum()
print(null_values)

total_values=len(df3.workclass)
print(total_values)

null_percentage=null_values/total_values
print(null_percentage)

if null_percentage > .70:
    df3.dropna(axis=1,inplace=True)
else:
    print("I will not delete column, You Go to Hell")

In [ ]:
df3.shape

# Approach-2: Fill the Constant value in place of Null

In [ ]:
df4=df.copy()

df4.isna().sum()

df4.workclass.unique()

In [ ]:
df4.workclass=df4.workclass.fillna("OTHER") # fillna() function is used to replace with a particular value

In [ ]:
df4.isna().sum()

In [ ]:
df4.shape

In [ ]:
df4.workclass.unique()

# Approach-3: Fill the Mean/Median/Mode values in place of Null value

### Replace Null value with Mean

In [ ]:
# Sample data 

Netflix_episodes_finish_per_day=[8,5,np.nan,0,7,5,0,np.nan,np.nan,100]

df5=pd.DataFrame(Netflix_episodes_finish_per_day,columns=["Number"])
print(df5)

mean_value=df5.mean()
print(mean_value)

df5=df5.fillna(mean_value)
df5.isnull().sum()
df5

In [ ]:
# Replace Null with Median

Netflix_episodes_finish_per_day=[8,5,np.nan,0,7,5,0,np.nan,np.nan,100]

df5=pd.DataFrame(Netflix_episodes_finish_per_day,columns=["Number"])
print(df5)

median_value=df5.median()
print(median_value)

df5=df5.fillna(median_value)
df5.isnull().sum()
df5

In [ ]:
# Replace Null with Mode

df6=df.copy()

df6.isnull().sum()

In [ ]:
mode_value=df6.workclass.mode()
print(mode_value)
print(type(mode_value))
print(mode_value)

In [ ]:
df6.workclass.value_counts()

In [ ]:
df6.workclass=df6.workclass.fillna(mode_value[0])
df6.isnull().sum()

In [ ]:
df6.shape

In [ ]:
# Dummy null values in age column

df7=df.copy()

df7.loc[((df7.age>=30) & (df7.age<=40)),'age']

In [ ]:
df7.loc[((df7.age>=30) & (df7.age<=40)),'age']=np.nan
df7.isnull().sum()

In [ ]:
mean_value=df7.age.mean()
df7.age=df7.age.fillna(mean_value)
df7.isnull().sum()

In [ ]:
# Dummy null values in age column

df7=df.copy()

df7.loc[((df7.age>=30) & (df7.age<=40)),'age']=np.nan
median_value=df7.age.median()
df7.age=df7.age.fillna(median_value)
df7.isnull().sum()

In [ ]:
sns.boxplot(data=df7,x='age')

# Approach-4: bfill() & ffill() functions

In [ ]:
# Small example
# Def: ffill()- Forward fill: Propogates the previous valid value forward to fill missing/null values.
# Def: bfill()- Backward fill: Propogates the Next valid value backward to fill missing/null values.
import pandas as pd
fav_drinks=[np.nan,'Badam milk','Mango juice','Orange juice','Bananan juice',np.nan,np.nan,'Papaya','Old Monk','BIRA 91',np.nan,np.nan]

df1=pd.DataFrame(fav_drinks,columns=['DRINKS'])
df1

In [ ]:
fav_drinks=[np.nan,'Badam milk','Mango juice','Orange juice','Bananan juice',np.nan,np.nan,'Papaya','Old Monk','BIRA 91',np.nan,np.nan]

df1 =pd.DataFrame(fav_drinks,columns=['DRINKS'])
df1=df1.ffill()
df1

In [ ]:
fav_drinks=[np.nan,'Badam milk','Mango juice','Orange juice','Bananan juice',np.nan,np.nan,'Papaya','Old Monk','BIRA 91',np.nan,np.nan]

df1 =pd.DataFrame(fav_drinks,columns=['DRINKS'])
df1=df1.bfill()
df1

In [ ]:
df.isnull().sum()
df2=df.copy()
df2.workclass=df2.workclass.ffill()

In [ ]:
df2.isnull().sum()

In [ ]:
df2.shape

# Approach-5: Interpolate() function

In [ ]:
# Def : Interpolate function estimate the missing/Null values in a Continuous Series.
# Type of interploate() function
    # 1.linear : if data is having linear relationship
                # linear cannot handle the starting NaN value
                # linear will put the same last valid value in the last NaN value
    # 2.Polynomial : if you have polynomial relationship in data
        # Polynomial don't insert the last NaN values
        # Polynomial also cannot handle the starting NaN value
    # 3.Spline : smooth curve
    # 4.time : when we have the time-series data

# --- 10 20 30 40 --- --- 70 80 ---

# Small example
Number_GF=[np.nan,1,2,3,4,5,np.nan,np.nan,8,9,np.nan,np.nan]

df4=pd.DataFrame(Number_GF)
df4

In [ ]:

Number_GF=[np.nan,1,2,3,4,5,np.nan,np.nan,8,9,np.nan,np.nan]

df4=pd.DataFrame(Number_GF)
df4.interpolate(method='linear',inplace=True)
df4

In [ ]:
pip install scipy

In [ ]:

Number_GF=[np.nan,1,2,3,4,5,np.nan,np.nan,8,9,np.nan,np.nan]

df4=pd.DataFrame(Number_GF)

df4.interpolate(method='polynomial',order=2,inplace=True)
df4

In [ ]:

Number_GF=[np.nan,1,2,3,4,5,np.nan,np.nan,8,9,np.nan,np.nan]

df4=pd.DataFrame(Number_GF)

df4.interpolate(method='spline',order=2,inplace=True)
df4

# Spline cannot fill the starting NaN value
# Spline can handle the last NaN values

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
# Dummy null values in the age column
df5=df.copy()
df5.loc[(df5.age>=30) & (df5.age<=40),'age']

In [ ]:
df5=df.copy()
df5.loc[(df5.age>=30) & (df5.age<=40),'age']=np.nan
df5.isnull().sum()

In [ ]:
df5.age=df5.age.interpolate(method='linear')
df5.isnull().sum()

In [ ]:
df5.head()

In [ ]:
df5=df.copy()
df5.loc[(df5.age>=30) & (df5.age<=40),'age']=np.nan

df5.age=df5.age.interpolate(method='polynomial',order=3)
df5.isnull().sum()

In [ ]:
df5=df.copy()
df5.loc[(df5.age>=30) & (df5.age<=40),'age']=np.nan

df5.age=df5.age.interpolate(method='spline',order=3) # spline method will take time to execute.It is more cost.
df5.isnull().sum()

In [ ]:
# time interploate() method
# To apply time interploate ,date must be the index of the dataset

In [ ]:
df5=df.copy()
df5.loc[(df5.age>=30) & (df5.age<=40),'age']=np.nan
df5['date']=pd.date_range(start='01-01-2024',periods=len(df5),freq='D')
df5

In [ ]:
df5=df.copy()
df5.loc[(df5.age>=30) & (df5.age<=40),'age']=np.nan
df5['date']=pd.date_range(start='01-01-2024',periods=len(df5),freq='D')
df5.set_index('date',inplace=True)
df5

In [ ]:
df5=df.copy()
df5.loc[(df5.age>=30) & (df5.age<=40),'age']=np.nan
df5['date']=pd.date_range(start='01-01-2024',periods=len(df5),freq='D')
df5.set_index('date',inplace=True)
df5.age=df5.age.interpolate(method='time')
df5.isnull().sum()

In [ ]:
df5.workclass=df5.workclass.interpolate(method='time')
df5.isnull().sum()

# EDA-5 : Identify Duplicates values/Records

In [ ]:
df.duplicated().sum()

In [ ]:
df[df.duplicated()]

In [ ]:
df[df.duplicated()].count()

In [ ]:
# keep=False
# keep=first
# keep=last

# keep=False = Mark all the duplicates as True
df[df.duplicated(keep=False)].count()

In [ ]:
df[df.duplicated(keep=False)]

In [ ]:
# keep=False = Mark all the duplicates as True
print(df.duplicated(keep=False).sum())

In [ ]:
# keep=first = Mark all duplicates as True , except the first record
print(df.duplicated(keep='first').sum())

In [ ]:
# keep=last = Mark all duplicates as True,except the last record
print(df.duplicated(keep='last').sum())

In [ ]:
# Find the duplicates based upon particular columns

df[df.duplicated(keep='first',subset=['age','workclass','occupation'])]

In [ ]:
df[df.duplicated(keep=False,subset=['age','workclass','occupation'])]

In [ ]:
df[df.duplicated(keep=False,subset=['age','workclass','occupation','fnlwgt'])]

# Data Cleaning-3: Handling the Duplicate records

In [ ]:
df1=df.copy()

df1.drop_duplicates(keep='first',inplace=True)

In [ ]:
df1.shape

In [ ]:
df.shape

In [ ]:
df1=df.copy()

df1.drop_duplicates(keep='last',inplace=True)

In [ ]:
df1.shape

In [ ]:
df.shape

In [ ]:
df1=df.copy()

df1.drop_duplicates(keep=False,inplace=True)

In [ ]:
df1.shape

In [ ]:
df.shape

In [ ]:
df1=df.copy()

df1.drop_duplicates(keep=False,inplace=True,subset=['age','workclass','occupation','fnlwgt'])

In [ ]:
df1.shape

In [ ]:
df.shape

# EDA-6/Data Cleaning-4 : Identifying/Handling the Outlier(Boxplot-IQR(Inter Quartile Range),Z-Score,Clipping)

In [ ]:
# Interview Question: Outliers exist in Numerical or Categorical data?
# Ans: Outliers exists Both (Numerical and Categorical)

In [ ]:
sns.boxplot(x='age',data=df)

In [ ]:
sns.boxplot(x='marital-status',y='age',data=df)

In [ ]:
sns.boxplot(x='marital-status',y='age',hue='sex',data=df)
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Finding which records are actually outliers
Q1=df.age.quantile(.25)
print(Q1)

In [ ]:
Q3=df.age.quantile(.75)
print(Q3)

In [ ]:
IQR=Q3-Q1
print(IQR)

In [ ]:
Lower_bound=Q1-1.5*IQR # Fixed formula for calculating IQR
print(Lower_bound)

In [ ]:
Upper_bound=Q3+1.5*IQR
print(Upper_bound)

In [ ]:
# Outliers : Which are less than Lower bound and greater than upper bound

outliers=df[(df.age<Lower_bound) | (df.age>Upper_bound)]
outliers

In [ ]:
df1=df.copy()

In [ ]:
# Find the records where age > lower bound & age < upper bound
df1=df1[(df1.age >= Lower_bound) & (df1.age <= Upper_bound)]

In [ ]:
df1.shape

In [ ]:
df.shape

# Replace the Outliers with Mean or Median

In [ ]:
df2=df.copy()

median_value=df2.age.median()
median_value

In [ ]:
# Replace the age > Upperbound OR age < Lower bound with median

df2.loc[(df2.age<Lower_bound) | (df2.age > Upper_bound),'age']=median_value

In [ ]:
outliers=df2[(df2.age<Lower_bound) | (df2.age>Upper_bound)] 
outliers # These shows no outliers present in these

In [ ]:
sns.boxplot(x='age',data=df2)

In [ ]:
df2.shape

In [ ]:
df2.age.unique()

# EDA-6: Identify/Handling of Outliers using z-score

In [ ]:
# Def: How many standard deviation, data point is far away from the mean.

# Here we assuming that data is normal distributed.
# We should apply z-score method to find out the outliers if data is normally distributed.
# If data point (age) z-score > 3 Or z-score < -3, will be considered as outliers

# z-score=(data - mean)/SD(standard Deviation)

In [ ]:
# Finding the z-score based on age column

df3=df.copy()
df3['z-score']=(df3.age-df3.age.mean())/df3.age.std()
df3

In [ ]:
# find the outliers
df3[(df3["z-score"]<-3) | (df3["z-score"]>3)]

In [ ]:
# delete these outliers
df3=df3[(df3["z-score"]<-3) & (df3["z-score"]>3)]

In [ ]:
df3.shape

In [ ]:
df3

In [ ]:
df3=df.copy()
df3['z-score']=(df3.age-df3.age.mean())/df3.age.std()
df3

In [ ]:
# Replace outliers with mean value
mean_value = int(df3.age.mean()) # Converting float to int becaues "age" cannot be in float
print(mean_value)

In [ ]:
df3.loc[(df3["z-score"]<-3) | (df3["z-score"]>3),'age']=mean_value

In [ ]:
df3.age.unique()

# EDA-6 : Identify/Handle Outliers using Clipping technique

In [ ]:
df1 = df.copy()

In [ ]:
df1.age=df1.age.clip(lower = 20,upper = 80)

In [ ]:
df1.age.unique()

In [ ]:
df1.shape

In [ ]:
df.shape

In [ ]:
df.age.unique()

# Clipping using Winsorization

In [ ]:
# Winsorization is a clipping technique which use the percentage for clipping

In [ ]:
from scipy.stats.mstats import winsorize

In [ ]:
df2=df.copy()

df2.age = winsorize(df2.age,limits=(0.05,0.10))

In [ ]:
df2.age.unique()

In [ ]:
df2.age.unique().min()

In [ ]:
df2.age.unique().max()

In [ ]:
df2.shape

# tools for Automatic EDA operations

## Tool-1 : autoviz

In [ ]:
pip install autoviz

In [ ]:
from autoviz.AutoViz_Class import AutoViz_Class

In [ ]:
AV=AutoViz_Class()

In [ ]:
report=AV.AutoViz(filename="xyz",dfte=df)

# Tool-2 : dtale

In [ ]:
pip install dtale

In [ ]:
import dtale
dtale.show(df)

# Tool-3 : ydata-profiling (POPULAR TOOL) (Important Most of them used these)

In [ ]:
pip install ydata-profiling

In [ ]:
from ydata_profiling  import ProfileReport

In [ ]:
profile=ProfileReport(df,title="My report",explorative=True)

In [ ]:
profile.to_notebook_iframe()

# Tool-4 : sweetviz(POPULAR TOOL)

In [ ]:
pip install sweetviz

In [ ]:
!pip install -q --upgrade sweetviz numpy==1.26.4

In [ ]:
import sweetviz as sv

In [ ]:
# import numpy as np
if not hasattr(np,"VisibleDeprecationWarning"):
    class VisibleDeprecationWarning(Warning):
        pass

    np.VisibleDeprecationWarning=VisibleDeprecationWarning

In [ ]:
report=sv.analyze(df)

In [ ]:
report.show_notebook()

In [ ]:
df2.columns

# 1.Income Distribution

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [ ]:
plt.figure(figsize=(6,4))

ax = sns.countplot(x='income', data=df2);

ax.set_title("Income Distribution")
ax.set_xlabel("Income Category")
ax.set_ylabel("Count")

plt.show()

# 2.Education vs Income

In [ ]:
plt.figure(figsize=(10,5))

ax = sns.countplot(x='education', hue='income', data=df2)

ax.set_title("Education Level vs Income")
ax.set_xlabel("Education")
ax.set_ylabel("Count")

plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

# 3.Age Distribution (Histogram)

In [ ]:
plt.figure(figsize=(6,4))

ax = sns.histplot(df2['age'], bins=20, kde=True)

ax.set_title("Age Distribution")
ax.set_xlabel("Age")
ax.set_ylabel("Frequency")

plt.tight_layout()
plt.show()

# 4.Correlation Heatmap

In [ ]:
plt.figure(figsize=(8,6))

corr = df2.corr(numeric_only=True)
ax = sns.heatmap(corr, annot=True, cmap='coolwarm')

ax.set_title("Correlation Heatmap")

plt.tight_layout()
plt.show()